<div class="flex-column p-2 py-4" style="height: auto">
  <h1 class="text-center">All Employee List</h1>
  <!--Error Message-->
  <% if flash[:errors] %> <% flash.each do |name,message| %>
  <p class="text-danger"><%= message%></p>
  <% end %> <% end %>
  <div class="d-flex justify-content-end">
    <%= button_to "Logout", destroy_employee_session_path, method: :delete ,class:"btn-danger border-0 rounded-pill shadow px-3 py-2 m-3 mb-2" %>
  </div>
  <!-- Employee Table -->
  <div class="px-3">
    <table class="table table-info table-striped">
      <ol class="fs-2">
        <thead class="table-secondary">
          <td class="text-center">Id</td>
          <td class="text-center">Employee Name</td>
          <td class="text-center">Email</td>
          <td class="text-center">Contact No.</td>
          <!-- <td class="text-center">Hobbies</td> -->
          <td class="text-center">Gender</td>
          <td class="text-center">City</td>
          <td class="text-center">State</td>
          <td class="text-center">Country</td>
          <td colspan="3" class="text-center">Action</td>
        </thead>
        <% @employees.each do |e| %>
        <tr>
          <td class="text-center"><%= e.id %></td>
          <td class="text-center">
            <%= link_to e.employee_name, employee_path(e) %>
          </td>
          <td class="text-center"><%= e.email %></td>
          <td class="text-center"><%= e.contact_number %></td>
          <!-- <td class="text-center"><%= e.hobbies %></td> -->
          <td class="text-center"><%= e.gender %></td>
          <td class="text-center"><%= e.city %></td>
          <td class="text-center"><%= e.state %></td>
          <td class="text-center"><%= e.country %></td>
          <td class="text-center">
            <%= button_to "Show",employee_path(e),method: :get,
            class:"btn-success border-0 rounded-pill shadow px-3 py-1" %>
          </td>
          <td class="text-center">
            <%= button_to "Edit",edit_employee_path(e),method: :get,
            class:"btn-primary border-0 rounded-pill shadow px-3 py-1" %>
          </td>
          <td class="text-center">
            <%= button_to "Delete",employee_path(e),method: :delete,
            class:"btn-danger border-0 rounded-pill shadow px-3 py-1" %>
          </td>
        </tr>
        <% end %>
      </ol>
    </table>
  </div>
</div>
